<article class="story">
  <div class="story__content">
    <h3 class="story__title">{{comment.text}}</h3>
    <ul class="story__info">
      <li>by {{comment.user.username}}</li>
      <li>{{moment-from-now comment.createdAt}}</li>
    </ul>
  </div>
</article>
