<form class="story__form" autocomplete="off" {{action 'save' model on='submit'}}>
  <p>
    <label for="">Comment: </label>
    {{one-way-textarea required=true data-validate=true value=model.text update=(action (mut model.text))}}
  </p>
  <br>
  <p>
    <label for="">Username: </label>
    {{one-way-input required=true data-validate=true value=model.user update=(action (mut model.user))}}
  </p>
  <p>
    <button>Send</button>
  </p>
</form>
