<h2>Story</h2>
{{story-listing story=model}}
{{outlet}}
<br>
{{#each model.sortedComments as |commentUnit|}}
  {{comment-listing comment=commentUnit}}
{{/each}}
<br>
<h2>New Comment</h2>
{{comment-form model=newModel save=(action "save")}}
