<h1>Hacker News Ember JS</h1>
<nav class="nav">
  {{#link-to "stories.index"}}Home{{/link-to}}
  {{#link-to "stories.create"}}Create Story{{/link-to}}
  {{#link-to "jobs.index"}}Jobs{{/link-to}}
  {{#if session.isAuthenticated}}
    <a {{action 'invalidateSession'}}>Logout</a>
  {{else}}
    {{#link-to "login"}}Login{{/link-to}}
    {{#link-to "signup"}}Sign Up{{/link-to}}
  {{/if}}
</nav>
{{outlet}}
